@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200..700&display=swap');
body {
  margin: 0;
  padding: 0;
}

.container {
  /* display: flex; */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.sidebar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.containerMenu-nav-link {
  margin-bottom: 3vh;
  transition: 0.4s;
  color: #c7c7c7;
  font-family: 'Oswald';
}


.sidebar {
  width: 300px; /* Ancho del sidebar */
  background: linear-gradient(
    140deg,
    rgba(42, 121, 128, 1) 5%,
    rgba(31, 82, 93, 1) 69%,
    rgba(28, 73, 85, 1) 78%
    
  );
  transition: all 500ms ease;
  position:relative; /* Posicionamiento fijo */
  top: 0; /* Posición superior */
  left: 0; /* Posición izquierda */
  height: 100vh; /* Altura del sidebar */
  
}
.sidebar nav a {
  display: flex;
  padding: 15px 10px;
  text-decoration: none;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.sidebar nav p {
  margin-right: 2vh;
  align-self: center;
}


.containerMenu-nav-link:hover {
  border-left: 2px solid white;
  background-color: #b6d7e0;
  color: #1c4955;
  padding: 30px 20px;
  margin-left: 5px;
  width: 300px;
}

.content {
  flex: 1;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: 'Oswald';
}

p {
  font-size: 16px;
  line-height: 1.5;
}
/* style.css */

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh; /* Asignamos altura al contenedor */
}


/* Estilos para el menú de navegación (sin cambios) */

.content {
  flex: 1;
  padding: 20px;
}

/* Estilos para el título y párrafo (sin cambios) */


.titulo {
  text-align: center;
  line-height: 70px;
  color: aliceblue;
  background: linear-gradient(
    180deg,
    rgba(42, 121, 128, 1) 0%,
    rgba(31, 82, 93, 1) 1%,
    rgba(28, 73, 85, 1) 54%
  );
}


.active {
  
  background-color: #dae3e6;
  color: #1c4955;
  border-left: 5px solid transparent;
  width: 320px;

}


/*ICONOS*/

.fa-solid, .fas {
  font-weight: 900;
  padding: 1vh;
}

.fa-regular, .fa-clipboard {
  font-weight: 3000;
  padding: 1vh;
}
.fa-solid, .fa-cash-register{
  padding: 1vh;
}