@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Estilos para el componente Catalogo */
.catalogo {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: -webkit-fill-available;
  max-height: 90vh;  overflow: auto;
  transition: .5s;
  font-family: 'Encode Sans Expanded', Encode Sans Expanded;
}

.catalogo-titulo {
  font-size: 2em;
  color: #333;
}

.catalogo-lista {
  list-style: none;
  padding: 0;
  transition: .5s;
}
.columnaHeader{
  background-color: #1a505f;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;}