/* Estilos base para el componente Home */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerManagment {
  align-items: center;
  padding: 1em;

  border-radius: 10px;
  margin-left: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
}

.home-container {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10%;
}

.home-container h1 {
  font-size: 2.5em;
  color: #333;
}

.home-container-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.home-container-buttons-button {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-container-buttons-button:hover {
  background-color: #2980b9;
}

.container-crud {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: -webkit-fill-available;
}

/* Animación de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Aplicar animación al componente Home */
.home {
  animation: fadeIn 0.8s ease-out;
}

/* Estilos responsive */
@media (max-width: 768px) {
  .home-container h1 {
    font-size: 2em;
  }

  .home-container-buttons-button {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .home-container h1 {
    font-size: 1.5em;
  }

  .home-container-buttons-button {
    font-size: 0.9em;
  }
}
