/* Estilos para el componente Catalogo */
.catalogo {
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: -webkit-fill-available;
  max-height: 90vh;  overflow: auto;
  transition: .5s;
}

.catalogo-titulo {
  font-size: 2em;
  color: #333;
}

.catalogo-lista {
  list-style: none;
  padding: 0;
  transition: .5s;
}
