.main-menu {
    background-color: #2980b9;
    color: white;
    padding: 10px;
  }
  
  .main-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .main-menu ul li {
    display: inline;
    margin-right: 10px;
  }
  
  /* Estilo para hacerlo responsivo */
  @media screen and (max-width: 600px) {
    .main-menu ul li {
      display: block;
      margin-bottom: 5px;
    }
  }