.catalogo-producto {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #dde7e9;
  transition: 0.5s;
  text-align: center;
}

.catalogo-producto:hover {
  padding: 15px;
  background-color: #799ea8;
  color: #ffffff;
  font-weight: bold;
}
.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Divide el contenedor en tres columnas de igual tamaño */
  gap: 10px; /* Espacio entre las columnas */
}

.columna {
  padding: 20px;
  text-align: center;
  height: 100px;
  overflow: hidden; 
  text-overflow: ellipsis
}
