.catalogo-producto {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #cad9dd;
  transition: .5s;
}

.catalogo-producto:hover{
  padding: 25px;
 
}
.contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Divide el contenedor en tres columnas de igual tamaño */
  gap: 10px; /* Espacio entre las columnas */
}

.columna {
  background-color: #cad9dd;
  padding: 20px;
}
