/* Estilos para el componente manageProduct */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');

.manageProduct {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Encode Sans Expanded', Encode Sans Expanded;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  margin-top: 0;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

.manageProduct-titulo {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.manageProduct-label {
  display: block;
  margin-bottom: 15px;
  font-family: 'Encode Sans Expanded', Encode Sans Expanded;
}

.cmBoxDescripcion {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.manageProduct-form {
  margin-bottom: 20px;
}

.manageProduct-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #1aaf5e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.manageProduct-button:hover {
  background-color: #12743e;
}

.manageProduct-message {
  font-size: 14px;
  color: #dc3545;
}

.manageProduct-button-eliminar {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #df1616;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.manageProduct-button-eliminar:hover {
  background-color: #b40000;
}