.contenidoProvider{
    width: 90vh;
    height: 92vh;
    border-radius: 2%;
    padding: 3vh;
    background-color: #ffffff;
    transition: .5s;
  
}

.contenedor-Porvier{
    display: flex;
    font-family: "Encode Sans Expanded", Encode Sans Expanded;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}
.contenedorAgregarProvider{
    margin-bottom: 2vh;
}

.price-input{
    padding: 1vh;
}
.Tittle-Agregar-Sucursal{
    margin-top: 2vh;
}