.cont-inform-semana{
    width: 74vh;
    padding: 10px;
    border-radius: 2%;
    color: #333;
    overflow: auto;
    height: 77vh;
  
}
.cont-inform-semana p{
    border-radius: 10px;
    font-size: 2vh;
    background-color: #eff4f5;
    margin-top: 1vh;
    padding: 1vh;
    width: 71vh;
}
.cont-inform-semana.small p{
    font-size: 2vh;
}
.cont-inform-semana.medium p{
    font-size: 3vh;
}
.cont-inform-semana.large p{
    font-size: 4vh;
}