.cont-inform-semana{
    width: 74vh;
    padding: 10px;
    border-radius: 2%;
    color: #333;
    height: 77vh;  
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  
}
.cont-inform-semana p{
    border-radius: 10px;
    font-size: 2vh;
    background-color: #eff4f5;
    margin-top: 1vh;
    padding: 1vh;
    width: 71vh;
}
.cont-inform-semana.small p{
    font-size: 2vh;
}
.cont-inform-semana.medium p{
    font-size: 3vh;
}
.cont-inform-semana.large p{
    font-size: 4vh;
}
.container-buttons{
    display: flex;
}