.boardSalManager{
    font-family:
    "Encode Sans Expanded",
    Encode Sans Expanded;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}
.contenedorSalManager {
    height: 80vh; 
    border-radius: 2%;
    justify-content: space-between;
    background-color: #ffffff;
    transition: .5s;
  }

  .tituloVentas{
    display: flex;
    height: 61px;
    width: 50vh;
    background-color: #e2e6e7;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  .contenido{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 30%;
  }
  .cmbxOption{
    height: 42px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .bttEnviar{
    padding: 10px 20px;
    font-size: 18px;
    background-color: #3b80ca;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  .contendorMedioPago{
      background-color: #f7f7f7;
      padding: 16px;
  }