.contenedorCompra {
  width: max-content;
  height: max-content;

}

.selected-product {
  font-size: 18px;
  margin-bottom: 20px;
  color: #333;
}

.add-product-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1vh;
  margin-bottom: 3vh;
}

.select-product,
.quantity-input,
.price-input {
  width: 100%;
  padding: 2vh;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.add-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #3b80ca;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.add-button:hover {
  background-color: #104783;
}
