.contenedorGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    align-items: center;
    justify-content: center;
}
.columnaManager{
    width: 70vh;
    height: 92vh;
    border-radius: 2%;
    padding: 3vh;
    background-color: #ffffff;
    transition: .5s;
}
.container{
    display: none;
}
